* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: hsl(185, 75%, 39%);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Background Patterns */
.pattern-top {
    position: absolute;
    top: -400px;
    left: -300px;
}

.pattern-bottom {
    position: absolute;
    bottom: -800px;
    right: -300px;
}

#profile-card {
    margin: 200px 0 30px;
    width: 360px;
    background-color: hsl(0, 0%, 100%);
    position: relative;
    z-index: 999;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top {
    width: 100%;
    height: 140px;
    background-image: url('/images/bg-pattern-card.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.profile-image {
    width: 105px;
    height: 105px;
    border: solid 5px white;
    border-radius: 50%;
    position: absolute;
    top: 90px;
    background-image: url('/images/image-victor.jpg');
    background-size: cover;
    background-position: center;
}

.personal-info {
    margin-top: 70px;
    display: flex;
    align-items: center;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h3.name {
    font-size: 18px;
    color: hsl(229, 23%, 23%);
    margin-right: 10px;
}

p.age {
    font-size: 18px;
    color: hsl(0, 0%, 59%);
}

.city {
    font-size: 14px;
    color: hsl(0, 0%, 59%);
    margin: 10px 0 20px 0;
}

.stats {
    border-top: solid 1px hsla(227, 10%, 46%, 0.15);
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-item h2 {
    font-size: 18px;
    color: hsl(229, 23%, 23%);
    margin-bottom: 8px;
}

p.stat-heading {
    font-size: 14px;
    color: hsl(0, 0%, 59%);
    letter-spacing: 1px;
}

@media only screen and (max-width: 375px) {
    .pattern-top {
        display: none;
    }
    
    .pattern-bottom {
        display: none;
    }

    #profile-card {
        margin: 100px 20px 30px 20px;
    }
}